.phone-feedback-form__disabled {
    background: rgba(0, 0, 0, 0.6);
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 100%;
}

    .phone-feedback-form__mail-answer {
            -ms-flex-item-align: center;
        align-self: center;
        background: rgba(255,255,255,0.97);
        border: 2px solid rgb(99, 16, 16);
        border-radius: 5px;
            -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 250px;
        flex: 0 1 250px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
        flex-flow: row wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        padding: 15px 15px 5px;
    }

        .phone-feedback-form-mail-answer__header {
            color: rgb(99, 16, 16);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            font-size: 18px !important;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
            text-decoration: underline;
        }

        .phone-feedback-form-mail-answer__error-text {
                -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: rgb(30, 30, 30);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 20%;
            flex: 1 1 20%;
            font-size: 14px !important;
            padding: 0 5px;
        }

        .phone-feedback-form-mail-answer__error-name {
                -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: rgb(27, 44, 107);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 50%;
            flex: 1 1 50%;
            font-size: 14px !important;
            padding: 0 5px;
        }

        .phone-feedback-form-mail-answer__thanks-message {
            color: rgb(30, 30, 30);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            font-size: 14px !important;
            padding: 5px 5px;
            text-align: center;
        }

        .phone-feedback-form-mail-answer__button-close {
            background: rgb(0, 150, 0);
            border-color: rgb(225, 255, 225);
            border-radius: 14px !important;
            color: white;
            cursor: pointer;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 16px;
            margin: 5px;
            padding: 5px 10px;
            outline: none;
        }