    /* Стили блока "Содержимое корзины" */
    .phone-busket-content {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
        align-items: stretch;
        background: rgba(255,255,255,0.97);
        border: 2px solid rgb(99, 16, 16);
        border-radius: 5px;
            -webkit-box-sizing: border-box;
        box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
        display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
        flex: 0 1 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin-top: 10px;
        max-height: 85%;
        max-width: 100%;
        padding: 10px;
    }

        .phone-busket-content__scroll {
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
            align-items: stretch;
                display: -webkit-box;
                display: -ms-flexbox;
            display: flex;            
                -webkit-box-flex: 1;            
                -ms-flex: 1 1 auto;            
            flex: 1 1 auto;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
            justify-content: flex-start;
            max-height: 100%;
            overflow-y: auto;
        }

            .phone-busket-content__header {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                color: rgb(99, 16, 16);
                display: block;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                font-size: 18px;
                font-weight: bold;
                padding: 5px 0 10px;
                text-align: center;
            }

            .phone-busket-content__items {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                border-collapse: collapse;
                    -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: rgb(40, 40, 40);
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                padding: 5px 0;
            }

                .phone-busket-content-items__info {
                    border: none;
                    color: rgb(40, 40, 40);
                    font-size: 16px;
                    font-style: italic;
                    text-align: center;
                }

                .phone-busket-content__items-tread{
                    font-weight: bold;
                }

                    .phone-busket-block__info {

                    }                

                    .phone-busket-content__items-tr {
                        border: 1px solid #100f0f;
                    }

                        .phone-busket-content__items-td {
                            border: 1px solid #100f0f;
                            padding: 1px 3px;
                            text-align: center;
                        }

                        .phone-item-name__sel {

                        }

                        .phone-item-name__number {
                            font-size: 12px;
                        }

                        .phone-item-name__servise {
                            font-size: 12px;
                        }

                        .phone-item-name__quant {
                            font-size: 12px;
                            max-width: 65px;
                        }

                            .phone-item-name__quant-block {
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                align-items: center;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                display: flex;
                                    -webkit-box-orient: horizontal;
                                    -webkit-box-direction: normal;
                                    -ms-flex-flow: row wrap;
                                flex-flow: row wrap;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                justify-content: center;
                            }

                                .phone-item-name__quant-block-button {
                                    border-radius: 10px;
                                    color: white;
                                    cursor: pointer;
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 auto;
                                    flex: 0 1 auto;
                                    height: 20px;
                                    margin: 0 2px;
                                    outline: none;
                                    text-align: center;
                                    width: 20px;
                                }

                                .phone-item-name__quant-block-plus {
                                    background: green;
                                    border-color: rgb(225, 255, 225);
                                        -webkit-box-ordinal-group: 3;
                                        -ms-flex-order: 2;
                                    order: 2;
                                }

                                .phone-item-name__quant-block-text {
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 auto;
                                    flex: 0 1 auto;
                                    font-size: 12px;
                                    margin: 0 2px;
                                        -webkit-box-ordinal-group: 2;
                                        -ms-flex-order: 1;
                                    order: 1;
                                    text-align: center;
                                    width: 50px;
                                }

                                .phone-item-name__quant-block-minus {
                                    background: red;
                                    border-color: rgb(255, 225, 225);
                                        -webkit-box-ordinal-group: 4;
                                        -ms-flex-order: 3;
                                    order: 3;
                                }

                                .phone-item-name__quant-block-metric {
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 100%;
                                    flex: 0 1 100%;
                                    font-size: 12px;
                                    margin: 0 2px;
                                        -webkit-box-ordinal-group: 5;
                                        -ms-flex-order: 4;
                                    order: 4;
                                }

                        .phone-item-name__cost {
                            font-size: 12px;
                        }

                        .phone-item-name__total {
                            font-size: 12px;
                        }

            .phone-busket-content__total {
                    -ms-flex-item-align: stretch;
                align-self: stretch;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    display: -webkit-box;
                    display: -ms-flexbox;
                display: flex;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                min-height: 50px;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 15px 0 5px;
            }

                .phone-total__button-block {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                    flex: 1 1 auto;                    
                    min-height: 30px;
                }

                    .phone-total-button-block__button {
                        border-color: rgb(225, 255, 225);
                        border-radius: 30px;
                        color: white;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: bold;
                        height: 30px;
                        outline: none;
                        text-align: center;
                        width: 30px;
                    }

                    .phone-total-button-block__button-add {
                        background: green;
                        
                    }

                    .phone-total-button-block__button-remove {
                        background: red;
                    }

                .phone-total__cost-label {
                    display: inline-block;
                        -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    font-size: 18px; 
                    font-weight: bold;
                    min-height: 30px;
                    text-align: right;
                }

                    .phone-total__cost-label-span {
                        display: inline-block;
                        color: rgb(27, 44, 107);
                        font-size: 18px;
                        font-style: italic;
                    }

            .phone-busket-content__control {
                    -ms-flex-item-align: stretch;
                align-self: stretch;
                    -webkit-box-sizing: border-box;
                box-sizing: border-box;
                    display: -webkit-box;
                    display: -ms-flexbox;
                display: flex;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                justify-content: flex-end;
                min-height: 40px;
                padding: 5px 0;
            }

                .phone-control__button {
                    display: inline-block;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 1 100px;
                    flex: 0 1 100px;
                    margin: 0 5px;
                    padding: 5px 10px;
                    outline: none;
                }

            .phone-busket-content-info {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                display: inline-block;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                font-size: 12px;
                text-align: left;
            }


/* Стили окна отправки заказа */
.phone-busket-buy__disabled{
    background: rgba(0, 0, 0, 0.6);
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%; 
}

    .phone-busket-buy__send-form {
            -ms-flex-item-align: center;
        align-self: center;
        background: rgba(255,255,255,0.97);
        border: 2px solid rgb(99, 16, 16);
        border-radius: 5px;
            -webkit-box-sizing: border-box;
        box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
        display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
        flex: 0 1 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
        justify-content: flex-start;
        max-height: 90%;
        max-width: 280px;
        padding: 15px 15px 5px;
        margin: 40px 0 20px;
        overflow-y: auto;
    }

        .phone-busket-buy-send-form__header {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            color: rgb(99, 16, 16);
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 16px;
            font-weight: bold;
            padding: 4px 0;
            text-align: center;
            text-decoration: underline;
        }

        .phone-busket-buy-send-form__order-number {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            color: rgb(30, 30, 30);
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 14px;
            font-weight: bold;
            padding: 4px 0;
            text-align: center;
        }

        .phone-busket-buy-send-form__label {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            color: rgb(30, 30, 30);
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 12px;
            font-weight: bold;
            margin: 5px 0 3px;
            text-align: center;
        }

        .phone-busket-buy-send-form__input {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            border: 1px solid #631010;
            border-radius: 5px;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 12px;
            min-height: 20px;
            margin: 0 25px 3px;
            outline: none;
            padding-left: 5px;
        }

        .phone-busket-buy-send-form__message {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            border: 1px solid #631010;
            border-radius: 5px;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-family: serif;
            font-size: 12px;
            margin: 0 15px 3px;
            min-height: 100px;
            outline: none;
            padding: 5px;
        }

            /*для анимации при введении в поле верного значение*/
            .phone-busket-buy-send-form__input_green-border{
                border: 2px solid #003e04 !important;
            }

        .phone-busket-buy-send-form__span-error {
            color: red;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 9px;
            margin: 2px 25px 3px;
        }

        .phone-busket-buy-send-form__button-block {
                -ms-flex-item-align: stretch;
                align-self: stretch;
                display: -webkit-box;
                display: -ms-flexbox;
            display: flex;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
            justify-content: center;
            margin: 5px 0;
            min-height: 30px;
        }

            .phone-busket-buy-send-form-button-block__button {
                border-radius: 14px !important;
                color: white;
                cursor: pointer;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 40%;
                flex: 0 1 40%;
                font-size: 12px;
                margin: 0 5px;
                padding: 5px 10px;
                outline: none;
            }

            .phone-busket-buy-send-form-button-block__button-send {
                background: rgb(0, 150, 0);
                border-color: rgb(225, 255, 225);
            }

            .phone-busket-buy-send-form-button-block__button-cancel {
                background: rgb(150, 0, 0);
                border-color: rgb(255, 225, 225);
            }

        .phone-busket-buy-send-form__info {
                -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
            color: rgb(30, 30, 30);
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 10px;
            padding: 8px 10px;
            text-align: justify;
        }


/* Стили окна сообщения отправки емейла */
.phone-infoMessage__disabled {
    background: rgba(0, 0, 0, 0.6);
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 100%;
}

    .phone-infoMessage__answer {
            -ms-flex-item-align: center;
        align-self: center;
        background: rgba(255,255,255,0.97);
        border: 2px solid rgb(99, 16, 16);
        border-radius: 5px;
            -webkit-box-sizing: border-box;
        box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
        display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 250px;
        flex: 0 1 250px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
        flex-flow: row wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
        padding: 15px 15px 5px;
    }

        .phone-infoMessage-answer__header {
            color: rgb(99, 16, 16);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            font-size: 16px;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
            text-decoration: underline;
        }

        .phone-infoMessage-answer__error-text {
                -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: rgb(30, 30, 30);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 20%;
            flex: 1 1 20%;
            font-size: 12px;
            padding: 0 5px;
        }

        .phone-infoMessage-answer__error-name {
                -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: rgb(27, 44, 107);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 50%;
            flex: 1 1 50%;
            font-size: 12px;
            padding: 0 5px;
        }

        .phone-infoMessage-answer__message {
            color: rgb(30, 30, 30);
                -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            font-size: 12px;
            padding: 5px 5px;
            text-align: center;
        }

        .phone-infoMessage-answer__button-close {
            background: rgb(0, 150, 0);
            border-color: rgb(225, 255, 225);
            border-radius: 14px !important;
            color: white;
            cursor: pointer;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            font-size: 12px;
            margin: 5px;
            padding: 5px 10px;
            outline: none;
        }


/* АДАПТИВНОСТЬ */
@media all and (orientation: portrait) and (max-width: 359) {
        /* Стили блока "Содержимое корзины" */

        .phone-busket-content__scroll {
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
            align-items: stretch;
                display: -webkit-box;
                display: -ms-flexbox;
            display: flex;            
                -webkit-box-flex: 1;            
                -ms-flex: 1 1 auto;            
            flex: 1 1 auto;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
            justify-content: flex-start;
            max-height: 100%;
            overflow-y: auto;
        }

            .phone-busket-content__header {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                color: rgb(99, 16, 16);
                display: block;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                font-size: 18px;
                font-weight: bold;
                padding: 5px 0 10px;
                text-align: center;
            }

            .phone-busket-content__items {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                border-collapse: collapse;
                    -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: rgb(40, 40, 40);
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                padding: 5px 0;
            }

                .phone-busket-content-items__info {
                    border: none;
                    color: rgb(40, 40, 40);
                    font-size: 16px;
                    font-style: italic;
                    text-align: center;
                }

                .phone-busket-content__items-tread{
                    font-weight: bold;
                }

                    .phone-busket-block__info {

                    }                

                    .phone-busket-content__items-tr {
                        border: 1px solid #100f0f;
                    }

                        .phone-busket-content__items-td {
                            border: 1px solid #100f0f;
                            padding: 1px 3px;
                            text-align: center;
                        }

                        .phone-item-name__sel {

                        }

                        .phone-item-name__number {
                            font-size: 12px;
                        }

                        .phone-item-name__servise {
                            font-size: 12px;
                        }

                        .phone-item-name__quant {
                            font-size: 12px;
                            max-width: 65px;
                        }

                            .phone-item-name__quant-block {
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                align-items: center;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                display: flex;
                                    -webkit-box-orient: horizontal;
                                    -webkit-box-direction: normal;
                                    -ms-flex-flow: row wrap;
                                flex-flow: row wrap;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                justify-content: center;
                            }

                                .phone-item-name__quant-block-button {
                                    border-radius: 10px;
                                    color: white;
                                    cursor: pointer;
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 auto;
                                    flex: 0 1 auto;
                                    height: 20px;
                                    margin: 0 5px;
                                    outline: none;
                                    text-align: center;
                                    width: 20px;
                                }

                                .phone-item-name__quant-block-plus {
                                    background: green;
                                    border-color: rgb(225, 255, 225);
                                        -webkit-box-ordinal-group: 3;
                                        -ms-flex-order: 2;
                                    order: 2;
                                }

                                .phone-item-name__quant-block-text {
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 auto;
                                    flex: 0 1 auto;
                                    font-size: 12px;
                                    margin: 0 2px;
                                        -webkit-box-ordinal-group: 2;
                                        -ms-flex-order: 1;
                                    order: 1;
                                    text-align: center;
                                    width: 50px;
                                }

                                .phone-item-name__quant-block-minus {
                                    background: red;
                                    border-color: rgb(255, 225, 225);
                                        -webkit-box-ordinal-group: 4;
                                        -ms-flex-order: 3;
                                    order: 3;
                                }

                                .phone-item-name__quant-block-metric {
                                        -webkit-box-flex: 0;
                                        -ms-flex: 0 1 100%;
                                    flex: 0 1 100%;
                                    font-size: 12px;
                                    margin: 0 2px;
                                        -webkit-box-ordinal-group: 5;
                                        -ms-flex-order: 4;
                                    order: 4;
                                }

                        .phone-item-name__cost {
                            font-size: 12px;
                        }

                        .phone-item-name__total {
                            font-size: 12px;
                        }

            .phone-busket-content__total {
                    -ms-flex-item-align: stretch;
                align-self: stretch;
                    -webkit-box-sizing: border-box;
                box-sizing: border-box;
                    display: -webkit-box;
                    display: -ms-flexbox;
                display: flex;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                min-height: 50px;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 15px 0 5px;
            }

                .phone-total__button-block {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                    flex: 1 1 auto;                    
                    min-height: 30px;
                }

                    .phone-total-button-block__button {
                        border-color: rgb(225, 255, 225);
                        border-radius: 30px;
                        color: white;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: bold;
                        height: 30px;
                        outline: none;
                        text-align: center;
                        width: 30px;
                    }

                    .phone-total-button-block__button-add {
                        background: green;
                        
                    }

                    .phone-total-button-block__button-remove {
                        background: red;
                    }

                .phone-total__cost-label {
                    display: inline-block;
                        -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    color: rgb(40, 40, 40);
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    font-size: 18px; 
                    font-weight: bold;
                    min-height: 30px;
                    text-align: right;
                }

                    .phone-total__cost-label-span {
                        display: inline-block;
                        color: rgb(27, 44, 107);
                        font-size: 18px;
                        font-style: italic;
                    }

            .phone-busket-content__control {
                    -ms-flex-item-align: stretch;
                align-self: stretch;
                    -webkit-box-sizing: border-box;
                box-sizing: border-box;
                    display: -webkit-box;
                    display: -ms-flexbox;
                display: flex;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                justify-content: flex-end;
                min-height: 40px;
                padding: 5px 0;
            }

                .phone-control__button {
                    display: inline-block;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 1 100px;
                    flex: 0 1 100px;
                    margin: 0 5px;
                    padding: 5px 10px;
                    outline: none;
                }

            .phone-busket-content-info {
                    -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                align-self: stretch;
                display: inline-block;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                font-size: 12px;
                text-align: left;
            }
    
}